<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd>" xsi:schemaLocation="NLog NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogFile="c:\\logs\\console-example-internal.log"
	internalLogLevel="Info" >

	<targets>
		<!-- write logs to the files -->
		<target xsi:type="File" name="all_logs_file" fileName="C:\\Users\\Yana_Yukhimuk\\source\\repos\\ImageScanner\\ImageScanner\\Logs\\all.log"/>
		<target xsi:type="File" name="important_logs_file" fileName="C:\\Users\\Yana_Yukhimuk\\source\\repos\\ImageScanner\\ImageScanner\\Logs\\important.log"/>
		<!-- write logs to the console-->
		<target xsi:type="ColoredConsole" name="logconsole" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="all_logs_file" />
		<logger name="*" minlevel="Warn" writeTo="important_logs_file" />
	</rules>
</nlog>