<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="rabbitUrl" value="ampq://guest:guest@localhost:5672" />
		<add key="username" value="guest" />
		<add key="password" value="guest" />
		<add key="hostname" value="localhost" />
		<add key="queue" value="imageScannerQueue" />
		<add key="exchange" value="imageScannerExchange" />
	</appSettings>
</configuration>